.NavBar {
  position: fixed;
  background-color: var(--primary-color-lightBlue);
  width: 100%;
  z-index: 1000;
  padding: 1.7rem 7rem;
  gap: 1rem;
}

.LogoImg {
  width: 6.865rem;
  height: 5.599rem;
}

.DesktopNav  .NavLinks{
  list-style: none;
  gap: 3rem;
}

.NavItems {
  text-decoration: none;
  font-size: 1.6rem;
  color: black;
}

.NavItems.Active {
  color: var(--primary-color-blue);
}

.MenuIcon {
  display: none;
  width: 2.56rem;
  height: 1.7rem;
  cursor: pointer;
  z-index: 200;
  position: relative;
}
.CloseIcon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--primary-color-blue);
}

.MobileMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  padding-bottom: 7rem;
  background-color: var(--primary-color-lightBlue);
  z-index: 150;
  justify-content: center;
  gap: 1rem;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.MobileMenu.Show {
  opacity: 1;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
}

.NavMenuLinks {
  align-items: start;
  width: 100%;
  padding-bottom: 6.2rem;
}

.NavMenuItems {
  font-size: 2.4rem;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 2rem 2.4rem;
  margin-bottom: 3.2rem;
  text-align: start;
}

.NavMenuItems.Active {
  background-color: var(--primary-color-ActiveBlue);
  border: none;
}

@media (max-width: 992px) {
  .NavBar {
    padding: 3rem 2rem;
    gap: 1rem;
  }

  .LogoImg {
    width: 4.59rem;
    height: 3.5rem;
  }
  .NavLinks,
  .LoginBtn,
  .DesktopNav {
    display: none;
  }

  .MenuIcon {
    display: block;
  }
}
