* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  line-height: 2.4rem;
  font-size: 100%;
  --primary-color-blue: rgba(2, 85, 149, 1);
  --primary-color-lightBlue: rgba(239, 248, 255, 1);
  --primary-color-ActiveBlue: rgba(215, 230, 234, 1); 
  --primary-color-blackShade: rgba(34, 34, 34, 1);
  --primary-color-gray: rgba(34, 34, 34, 0.5);
}
.Container {
  padding-left: 7rem;
  padding-right: 7rem;
}
.Flex {
  display: flex;
}
.FlexCol {
  display: flex;
  flex-direction: column;
}
.Between {
  justify-content: space-between;
}
.Center {
  justify-content: center;
}
.Items {
  align-items: center;
}
.ItemsStart {
  align-items: start;
}

.MarginBott {
  margin-bottom: 9.4rem;
}

a {
  text-decoration: none;
  color: var(--primary-color-blackShade);
}
a:hover {
  color: var(--primary-color-blue);
}
.Card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.Card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--primary-color-blue);
}
h2 {
  font-size: 6rem;
  line-height: 8rem;
  font-weight: 700;
}
p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: var(--primary-color-gray);
}

button {
  border-radius: 6px;
  border: none;
  padding: 1.05rem 5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color-blue);
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: rgba(2, 85, 149, 0.911);
}

@media (max-width: 1440px) {
  :root {
    font-size: 62.5%;
  }
}
@media (max-width: 992px) {
  .Container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  h2 {
    font-size: 3.5rem;
    line-height: 4.6rem;
  }
  .MarginBott {
    margin-bottom: 6.4rem;
  }
    button {
      padding: 1rem 7rem;
  }
}
